/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-family: Arial, Sans-serif;
  position: absolute;
}

.person {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.pink {
  color: pink;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.blue {
  color: blue;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}
