/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  font-family: Arial, Sans-serif;
  position: absolute;
  background-color:lightgrey;
}

.person {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.pink {
  color: pink;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.blue {
  color: blue;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

.rot-1 {
  -ms-transform: rotate(3deg);
  /* IE 9 */
  -webkit-transform: rotate(3deg);
  /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

.rot-2 {
  -ms-transform: rotate(-5deg);
  /* IE 9 */
  -webkit-transform: rotate(-5deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.rot-3 {
  -ms-transform: rotate(1deg);
  /* IE 9 */
  -webkit-transform: rotate(1deg);
  /* Chrome, Safari, Opera */
  transform: rotate(1deg);
}
